<html lang="en">
<% #head.html %>
<body>
<% #header.html %>
<div class="MainContent SimpleFont">
    <img src="chat.svg" class="HomeHeaderSvg"/>
    <div style="position: absolute; top: 0px; left: 0px;">
        <h2>Welcome to SparkSync</h2>
        <div>SparkSync is a cutting-edge chat application designed to redefine the user experience while prioritizing security and real-time communication. In the ever-evolving landscape of digital communication, the demand for secure, efficient, and user-friendly chat applications has grown exponentially. Recognizing this imperative, we introduce "SparkSync" — a comprehensive solution that seamlessly integrates advanced security protocols with an intuitive and engaging interface.</div>
        <ul>
            <li>End-to-End Encryption</li>
            <li>Multi-Platform Compatibility</li>
            <li>Real-Time Messaging</li>
            <li>Multimedia Sharing</li>
            <li>Customizable Settings</li>
            <li>Dynamic Notification System</li>
        </ul>
        <div>SparkSync not only ensures the privacy of user conversations through robust encryption but also enhances the overall user experience through innovative design principles and feature-rich functionalities. We seek to establish ourselves as a reliable, versatile, and user-centric platform that facilitates communication without compromising on security or usability.</div>
        <ul>
            <li>Modal</li>
            <li>Toast or notification</li>
            <li>Web socket</li>
            <li>Responsive</li>
            <li>HttpRequest</li>
        </ul>

    </div>
</div>
</body>
</html>
